#include "bmp.h"
/////////////////////////////////////////////////////////////////////////////
//
// Menu
//
BMPMENU MENU DISCARDABLE 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Open",                        IDM_LOADBMP
        MENUITEM "Exit",                        IDM_EXIT
    END
END
